<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Safe Mapping</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/grayscale.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href='{{ url_for('static',filename='css/style.css') }}'>
        <!-- Custom scripts for this template -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
   <!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
  <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/grayscale.min.js') }}"></script>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Safe Mapping</h1>
              <p class="intro-text">Get to your location the safe way.
                <br>Created by ...</p>
              <a href="#map" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="map">
      <div class='notMap' style="width:30%;height:1000px;float:left;">
        <div class='ctrl' style="width:100%;">
          <div class="row">
            <select id="mode" name="mode">
              <option value="DRIVING" name="mode">DRIVING</option>
              <option value="WALKING" name="mode">WALKING</option>
              <option value="BICYCLING" name="mode">BICYCLING</option>
            </select>
          </div>
          <div class="row">
            <div class="slidecontainer">
              <input type="range" min="0" max="1000" value="500" id="myRange">
            </div>
          </div>
          <div class="row">
            From: <input type="text" id="from">
          </div>
          <div class="row">
            To: <input type="text" id="to">
          </div>
        </div>
        <div id='dir' style="width:100%;height:50%;"></div>
      </div>
      <div id="googleMap" style="width:70%;height:1000px;float:right"></div>
    </section>

    <!-- Contact Section -->
    <section  class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 id = "about">About</h1>


            <h3>Check out the repository</h3>



            <a href="https://github.com/lpang36/DeltaHacksIV" target = "_blank"class="btn btn-default btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
              </a>

              <br>
              <br>
              <br>
              <br>
              <h3>Check out our GitHub Profiles</h3>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/rrangith" target = "_blank" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Rahul Rangith</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/lpang36" target = "_blank" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Lawrence Pang</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/Matthew-Chiang" target = "_blank" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Matthew Chiang</span>
                </a>
              </li>
            </ul>
            <br>
            <br>
            <br>
            <br>
            <h3>Check out our Personal Sites</h3>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="http://rangith.com/" target = "_blank" class="btn btn-default btn-lg">
                  <i class="fa fa-address-book"></i>
                  <span class="network-name">Rahul Rangith</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://lawrencepang.herokuapp.com/" target = "_blank" class="btn btn-default btn-lg">
                  <i class="fa fa-address-book"></i>
                  <span class="network-name">Lawrence Pang</span>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </section>

<script src="{{ url_for('static',filename='js/map.js') }}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxDWSD0TwTWvk1sDcCNkcS70JgkS__YQY&libraries=places&callback=initMap">
    </script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>

</html>
